<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Открытие изображения в новой вкладке</title>
    <style>
        img {
            width: 300px; /* Уменьшенный размер для предпросмотра */
            height: auto;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <!-- Ссылка на полное изображение -->
    <a href="https://iili.io/2MqE8Is.png" target="_blank">
        <img src="https://iili.io/2MqE8Is.png" alt="Картинка 1">
    </a>
</body>
</html>
